*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;

    #nav{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: red;
        padding: 0 40px;


        h1{
            font-size: 25px;
            
            i{
                margin-right: 10px;
            }
        }

        #part2{
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4{
                margin: 0 15px;
            }

            img{
                width: 160px;
            }

            .line{
                height: 3px;
                width: 70px;
                background-color: red;
            }
        }
    }

    #center{
        height: calc(100% - 100px);
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #one{
            height: 100%;
            width: 38%;
            padding: 160px 80px;

            h1{
                font-size: 55px;
                line-height: 65px;
                font-weight: 700;
                margin-bottom: 50px;

                span{
                    color: red;
                    font-weight: 500;
                }
            }

            p{
                font-size: 17px;
                width: 70%;
                margin-bottom: 50px;
            }

            button{
                background-color: red;
                padding: 20px 40px;
                border-radius: 50px;
                font-size: 18px;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;


                i{
                    margin-right: 7px;
                }
            }
        }

        #two{
            height: 100%;
            width: 25%;
            padding: 30px 0;

            #mid{
                height: 100%;
                width: 100%;
                background-image: url(https://images.unsplash.com/photo-1567103472667-6898f3a79cf2?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
                background-position: center;
                background-size: cover;
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                border: 0.1px solid black 0.1;   
            }
        }
        #three{
            height: 100%;
            width: 38%;
            padding: 300px 100px;
            
            #elems{
                border: 1px solid rgb(50, 50, 50);
                width: 400px;

                #elem1{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 70px;
                    border-bottom: 1px solid #3a3939;
                    padding: 0 20px;

                    h1{
                        font-size: 24px;
                        font-weight: 600;
                    }
                    i{
                        font-size: 24px;
                    }
                }
                  
                #elem2{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 70px;
                    border-bottom: 1px solid #313131;
                    padding: 0 20px;

                    h1{
                        font-size: 24px;
                        font-weight: 600;
                    }
                    i{
                        font-size: 24px;
                    }
                }

                #elem3{
                    padding: 10px 20px;

                    h1{
                        margin-bottom: 10px;
                        font-size: 24px;
                        font-weight: 600;
                    }
                }
                
                
            }
        }
    }

}
