*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;

    #nav{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: red;
        padding: 0 40px;


        h1{
            font-size: 25px;
            
            i{
                margin-right: 10px;
            }
        }

        #part2{
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4{
                margin: 0 15px;
            }

            img{
                width: 160px;
            }

            .line{
                height: 3px;
                width: 70px;
                background-color: red;
            }
        }
    }

    #center{
        height: calc(100% - 100px);
        width: 100%;
        background-color: black;
        display: flex;

        #one{
            height: 100%;
            width: 36%;
            padding: 160px 80px;

            h1{
                font-size: 55px;
                line-height: 65px;
                font-weight: 700;
                margin-bottom: 50px;

                span{
                    color: red;
                    font-weight: 500;
                }
            }

            p{
                font-size: 17px;
                width: 70%;
                margin-bottom: 50px;
            }

            button{
                background-color: red;
                padding: 20px 40px;
                border-radius: 50px;
                font-size: 18px;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;


                i{
                    margin-right: 7px;
                }
            }
        }

        #two{
            height: 100%;
            width: 28%;
            background-color: blue;
        }
        #three{
            height: 100%;
            width: 36%;
            background-color: violet;
        }
    }

}
